:root {
  --dark-brown: var(--holy-shiet-its-brown);
  --light-brown: var(--body-theme);
  --white: var(--dorky-white);
  --accent-color: var(--wine-red);
  --light-gray: var(--sneaky-background-color);
  --secondary-text-color: var(--button-secondary-text-color);
}

footer {
  background-color: var(--dark-brown);
  color: var(--white);
  padding: 40px 20px;
  font-family: var(--primary-font-family);
  text-align: center;
}

footer p {
  color: var(--white);
}

.footer-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-branding {
  text-align: center;
  margin-bottom: 20px;
}

.footer-logo {
  height: 80px;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

.footer-logo:hover {
  transform: scale(1.1);
}

.footer-branding h1 {
  font-family: var(--primary-font-family);
  font-size: 28px;
  margin: 10px 0;
  color: var(--dorky-white);
}

.footer-branding p {
  font-size: 14px;
  color: var(--light-brown);
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
  width: 100%;
}

.footer-about,
.footer-links,
.footer-contact {
  flex: 1;
  min-width: 250px;
  margin: 20px;
}

.footer-about h2,
.footer-contact h2 {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: var(--handwritten-font);
  color: var(--dorky-white);
}

.footer-about p {
  font-size: 14px;
  line-height: 1.6;
  color: var(--secondary-text-color);
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.footer-button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: 1px solid var(--button-border-color);
  text-transform: uppercase;
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.footer-button:hover {
  background-color: var(--button-hover-background-color);
  color: var(--button-hover-text-color);
  border-color: var(--button-border-hover-color);
}

.footer-contact p {
  margin: 5px 0;
  font-size: 14px;
}

.footer-contact i {
  margin-right: 8px;
}

.footer-socials {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.footer-socials .social-icon {
  background-color: var(--dark-brown);
  color: var(--white);
  font-size: 20px;
  width: 40px;
  height: 40px;
  border: 2px solid var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s, transform 0.3s ease-in-out;
}

.footer-socials .social-icon:hover {
  background-color: var(--accent-color);
  color: var(--white);
  transform: scale(1.1);
}

.footer-bottom {
  font-size: 14px;
  border-top: 1px solid var(--accent-color);
  padding-top: 20px;
  width: 100%;
}

.footer-phone,
.footer-mail {
  text-decoration: none;
  color: var(--white);
  font-size: 1.1em;
}

.footer-phone:hover,
.footer-mail:hover {
  color: var(--accent-color);
}

.footer-address {
  color: var(--white);
}

.footer-about p {
  color: var(--white);
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-about,
  .footer-links,
  .footer-contact {
    margin: 20px 0;
  }

  .footer-socials {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .footer-branding h1 {
    font-size: 24px;
  }

  .footer-branding p {
    font-size: 12px;
  }

  .footer-logo {
    height: 60px;
  }

  .footer-button {
    font-size: 12px;
    padding: 8px 16px;
  }

  .footer-contact p {
    font-size: 12px;
  }

  .footer-bottom {
    font-size: 12px;
  }
}
