:root {
  scroll-behavior: smooth;
  --body-theme: #e8d3ca;
  --body-background: #e8d3ca;
  --secondary-background: #fff;
  --secondary-text-color: #fff;
  --dorky-white: #e8d3ca;
  --button-background-color: transparent;
  --button-border-color: #e8d3ca;
  --button-text-color: #e8d3ca;
  --button-hover-background-color: var(--body-background);
  --button-border-hover-color: #e8d3ca;
  --button-secondary-text-color: rgba(0, 0, 0, 0.7);
  --button-hover-text-color: var(--button-secondary-text-color);
  --holy-shiet-its-brown: #20150f;
  --sneaky-background-color: #e3dac9;
  --creamy-inn-text-color: #f5f5dc;
  --wine-red: #702c2b;
}

:root {
  --primary-font-family: "Montserrat", sans-serif;
  --primary-heading-font-family: "Ubuntu", sans-serif;
  --indie-flower: "Indie Flower", cursive;
  --handwritten-font: "Handlee", cursive;
}

::selection {
  background: var(--body-theme);
  color: var(--holy-shiet-its-brown);
}

body {
  background-color: var(--body-background) !important;
  font-family: var(--primary-font-family);
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-transform: uppercase;
}

.site-button {
  padding: 10px 20px;
  background-color: var(--button-background-color);
  text-decoration: none;
  border: var(--button-border-color) solid 2px;
  color: var(--button-text-color);
  position: relative;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  overflow: clip;
  text-transform: uppercase;
}

.site-button:hover {
  background-color: var(--button-hover-background-color);
  border: var(--button-border-hover-color);
  color: var(--holy-shiet-its-brown);
}

.site-button span {
  position: relative;
  z-index: 1;
  font-size: 0.9em;
}

.section {
  margin: 100px 20px 100px 20px;
  display: flex;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-section {
  position: relative;
  align-items: left;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  z-index: 1;
}

.hero-background {
  position: absolute;
  background-image: url("../images/women_in_meeting.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}

.hero-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    transparent
  ); /* Gradient from left */
  z-index: -1;
}

.hero-introduction-content {
  margin: 50px 0;
  padding: 40px 50px;
  position: relative;
  z-index: 2;
  width: 60%;
}

.hero-introduction-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.hero-section .hero-introduction-content h1 {
  font-family: var(--primary-heading-font-family);
  font-size: 4.5em;
  font-weight: 700;
  color: var(--dorky-white);
  text-transform: uppercase;
  line-height: 1.2em;
  animation: fadeInDown 1s ease-in-out;
}

.hero-section .hero-introduction-content p {
  color: var(--dorky-white);
  font-size: 1.5em;
  font-weight: 500;
  animation: fadeInUp 1s ease-in-out;
}

.hero-button {
  margin-top: 20px;
  padding: 12px 30px;
  font-weight: 600;
  font-size: 1.2em;
  /* border-radius: 5px; */
  text-align: center;
  transition: background-color 0.3s;
  justify-content: space-between;
}

.hero-button-first {
  border: var(--button-border-color) solid 2px;
  background-color: var(--button-background-color);
  text-transform: uppercase;
  color: var(--dorky-white);
  margin-right: 40px;
}

.hero-button-second {
  border: var(--button-border-color) solid 2px;
  background-color: var(--body-background);
  text-transform: uppercase;
  color: var(--button-secondary-text-color);
  margin-left: 40px;
}

.hero-button-first:hover {
  background-color: var(--button-hover-background-color);
  color: var(--button-hover-text-color);
  border: var(--button-border-hover-color) solid 2px;
  transform: translateY(-2px);
}

.hero-button-second:hover {
  background-color: var(--button-background-color);
  color: var(--dorky-white);
  border: var(--button-border-hover-color) solid 2px;
  transform: translateY(-2px);
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 1200px) {
  .hero-section {
    height: 80vh;
  }
}

@media (max-width: 1024px) {
  .hero-section {
    height: 70vh;
  }
  .hero-introduction-content {
    width: 80%;
  }
  .hero-section .hero-introduction-content h1 {
    font-size: 4.8em;
    font-weight: 700;
    /* line-height: 1.2em; */
  }
  .hero-section .hero-introduction-content p {
    font-size: 1.5em;
  }
}

@media (max-height: 600px) {
  .hero-section {
    height: 90vh;
  }
}

@media (max-width: 768px) {
  .hero-section {
    height: 80vh;
  }
  .hero-background::after {
    background: rgba(0, 0, 0, 0.75);
  }
  .hero-introduction-content {
    padding: 0 30px;
    width: 100%;
    text-align: center;
  }
  .hero-section .hero-introduction-content h1 {
    font-size: 2.8em;
    font-weight: 700;
    /* line-height: 1.2em; */
  }
  .hero-section .hero-introduction-content p {
    font-size: 1.2em;
  }
  .hero-button {
    margin-top: 10px;
    font-size: 1em;
    padding: 8px 15px;
  }
  /* .button-container-flex {
          display: block;
      } */
  .hero-button-first {
    margin: 20px auto;
    width: 100%;
  }
  .hero-button-second {
    margin: 20px auto;
    width: 100%;
  }
}

@media (max-width: 384px) {
  .hero-section .hero-introduction-content h1 {
    font-size: 1.8em;
    /* line-height: 1em; */
  }
  .hero-section .hero-introduction-content p {
    font-size: 0.9em;
  }
  .hero-button {
    font-size: 0.8em;
  }
}

/* Site content section start */
/* About section */
.about-section {
  margin: 100px auto;
  overflow: hidden; /* Add this to prevent horizontal overflow */
}

.cocky-bastard-about {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.aside-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  position: relative;
  z-index: 1;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s ease-out, transform 1s ease-out;
  transform: translateX(20px); /* Slightly offset to the right */
  position: relative;
  z-index: 1;
}

.image-container-potrait {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s ease-out, transform 1s ease-out;
  transform: translateX(-20px); /* Slightly offset to the left */
}

.image-container-potrait.in-view,
.description.in-view {
  opacity: 1;
  transform: translateX(0);
}

.image-container-potrait img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 140px 0 140px;
  padding-bottom: 20px;
}

.svg-decor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.svg-decor svg {
  width: 100%;
  height: 100%;
}

.about-section-heading h1 {
  text-transform: uppercase;
  font-family: var(--primary-heading-font-family);
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 20px;
}

.about-section-description p {
  font-weight: 350;
  line-height: 1.9em;
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .cocky-bastard-about {
    gap: 0;
  }
}

@media (max-width: 768px) {
  .aside-content {
    justify-content: center;
  }
  .about-section-heading h1 {
    font-size: 2.5em;
  }

  .about-section-description p {
    font-size: 1em;
  }

  .image-container-potrait {
    height: 50vh;
  }
}

@media (max-width: 480px) {
  .about-section-heading h1 {
    font-size: 2em;
  }

  .about-section-description p {
    font-size: 0.9em;
  }

  .image-container-potrait {
    height: 40vh;
  }
}

/* chart information section */
.chart-section {
  background-color: var(--holy-shiet-its-brown);
  margin: 10px auto 0 auto;
}

.chart-wrapper .chart-content-description-mofo {
  transform: translateX(0%);
  transition: all 1s ease-out;
  position: relative;
}

.cocky-bastard-chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
  align-items: center;
  margin: 0 40px;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(0%);
  transition: all 1s ease-out;
}

.description .chart-heading h1 {
  text-transform: uppercase;
  font-size: 4.2em;
  font-weight: 600px;
  font-family: "Ubuntu", sans-serif;
  color: var(--dorky-white);
}

.chart-description p {
  opacity: 0.6;
  color: var(--dorky-white);
}

#womenLeadershipChart {
  width: 100%;
}

@media (max-width: 1024px) {
  .cocky-bastard-chart {
    gap: 0;
  }
}
@media (max-width: 768px) {
  .chart-container {
    margin-top: 10px;
    /* height: 300px; */
  }
  .chart-container {
    width: 350px;
  }
  .cocky-bastard-chart {
    margin: 0 20px;
  }
  .description .chart-heading h1 {
    font-size: 3.2em;
  }
}

@media (max-width: 1024px) {
  .section {
    margin: 20px 40px;
  }
}

@media (max-width: 768px) {
  .section {
    margin: 20px 30px;
  }
}

.showcase {
  position: relative;
  background-color: transparent;
  overflow: hidden;
  opacity: 0;
  transform: translateY(50px);
  margin: 0 20px;
}

.showcase.in-view {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.background-image-showcase {
  position: relative;
  z-index: 1;
}

.background-image-showcase::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/siite-images/paper-background.jpg");
  border-radius: 200px 200px 0 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;
}

.background-image-showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(232, 211, 202, 0.6);
  z-index: 2;
  animation: fadeIn 2s ease-in-out;
}

.showcasing-design-section {
  position: relative;
  margin: 50px 0 186px;
  border-radius: 200px 200px 0 0;
  z-index: 3;
  transform: translateY(50px);
  animation: slideUp 1s ease-in-out forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.heading-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  font-family: var(--handwritten-font);
  position: relative;
  z-index: 4;
  transform: translateX(-50px);
  opacity: 0;
  animation: slideInFromLeft 1s ease-in-out forwards 0.5s;
}

.text-container {
  flex: 1;
  padding-right: 20px;
}

.main-title {
  font-family: var(--handwritten-font);
  font-size: 3em;
  font-weight: 300;
  letter-spacing: -0.03em;
  color: var(--holy-shiet-its-brown);
  line-height: 1.3em;
  margin-bottom: 10px;
}

.sub-title {
  font-size: 1.2em;
  color: var(--holy-shiet-its-brown);
  opacity: 0.8;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-top: 80px;
  width: 200px;
  max-height: 600px;
}

.image-container img {
  max-width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.showcasing-design-section .heading-title h2 {
  padding: 80px 0 20px 10px;
  font-size: 5em;
  font-weight: 500;
  letter-spacing: -0.03em;
  color: var(--holy-shiet-its-brown);
  line-height: 1em;
  max-width: 100%;
  margin-bottom: 0;
}

.showcasing-design-section .container .showcase-inner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--holy-shiet-its-brown);
  border-radius: 200px 0 0 0;
  padding: 90px 90px 0 160px;
  margin-bottom: -120px;
  position: relative;
  z-index: 4;
  transform: translateY(50px);
  opacity: 0;
  animation: slideInFromBottom 1s ease-in-out forwards 1s;
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.showcase-inner-content h3 {
  padding-bottom: 20px;
  font-size: 3em;
  font-weight: 400;
  letter-spacing: -0.03em;
  margin: 0;
  color: var(--body-background);
}

.showcase-inner-content .inner-content-desktop a {
  margin-top: 5px;
}

.showcase-inner-content .inner-content-desktop a:hover {
  transform: translateY(-3px);
}

.inner-content-mobile {
  display: none;
}

.more-info {
  /* font-family: var(--handwritten-font); */
  font-size: 0.8em;
  font-weight: 600;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .showcasing-design-section .heading-title h2 {
    padding: 140px 0 40px 10px;
    font-size: 3.5em;
    font-weight: 300;
    line-height: 1.3em;
  }
  .showcase-inner-content h3 {
    font-size: 2.5em;
  }
  .inner-content-desktop a {
    font-size: 1em;
    margin-left: 15px;
  }
  .showcasing-design-section .container .showcase-inner-content {
    padding: 50px 90px 20px 110px;
  }
}

@media (max-width: 768px) {
  .background-image-showcase::before {
    border-radius: 0;
  }
  .showcasing-design-section .heading-title h2 {
    padding: 40px 5px;
    font-size: 2.9em;
  }
  .heading-title {
    display: flex;
    flex-direction: column;
  }
  .showcase-inner-content h3 {
    line-height: 1.3em;
    font-size: 1.7em;
  }
  .showcasing-design-section .container .showcase-inner-content {
    padding: 80px 30px 10px 60px;
  }
  .inner-content-desktop {
    display: none;
  }
  .inner-content-mobile {
    display: block;
  }
  .inner-content-mobile a {
    margin-top: 10px;
  }
  .image-container {
    display: none;
  }
}

/* Speakers section start  */
.speakers {
  position: relative;
  padding: 0;
  display: block;
  overflow: hidden;
  padding-bottom: 50px;
}

.speakers::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-color: var(--wine-red);
  z-index: 1;
}

.speakers::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.speakers .container {
  position: relative;
  z-index: 3;
}

.speakers .heading-title h2 {
  padding: 20px 0;
  margin-top: 30px;
  font-size: 5em;
  font-weight: 600;
  letter-spacing: -0.03em;
  color: var(--dorky-white);
  line-height: 1.3em;
  text-align: center;
}

.dot-background {
  background-image: url("assets/images/Addons/dots-04.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.speaker-carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  position: relative;
  z-index: 2;
}

.speaker-content {
  display: flex;
  align-items: center;
}

.speaker-image {
  flex: 1;
  text-align: center;
}

.speaker-image img {
  border-radius: 100px 0;
  width: 300px;
  height: 300px;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
  filter: grayscale(100%);
}

.speaker-image img:hover {
  filter: grayscale(0);
  cursor: pointer;
}

.speaker-info {
  flex: 2;
  color: var(--dorky-white);
  padding-left: 20px;
  transition: opacity 2s ease-in-out;
  margin-top: 20px;
}

.speaker-name {
  font-size: 2.7em;
  font-family: var(--primary-heading-font-family);
  margin: 10px 0;
  font-weight: 600;
}

.speaker-title {
  font-size: 1.4em;
  font-weight: 500;
  font-family: var(--primary-heading-font-family);
  color: var(--dorky-white);
  margin-bottom: 10px;
}

.speaker-bio {
  font-size: 1em;
  font-weight: 300;
  color: rgb(232, 211, 202, 0.8);
  margin-bottom: 0;
  opacity: 0.8;
}

.page-divider {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  position: relative;
  /* z-index: 3; */
}

.page-divider img {
  width: 100%;
  display: block;
}

.top-page-divider {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  position: relative;
  z-index: 3;
}

.top-page-divider img {
  width: 100%;
  display: block;
  transform: scale(-1, 1);
}

.svg-top-divider {
  /* background-color: var(--holy-shiet-its-brown); */
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: end;
}

.nav-btn {
  display: flex;
  background-color: transparent;
  border: var(--dorky-white) solid 1.5px;
  border-radius: 50%;
  color: var(--dorky-white);
  font-size: 1.2em;
  font-weight: 600;
  padding: 15px 15px;
  cursor: pointer;
  transition: background-color 0.4s ease;
  justify-content: center;
  align-items: center;
}

.nav-btn:hover {
  background-color: var(--dorky-white);
  color: var(--holy-shiet-its-brown);
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.prev-btn {
  margin-right: 10px;
}

.next-btn {
  margin-left: 10px;
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .speaker-content {
    display: flex;
    flex-direction: column;
  }

  .navigation {
    justify-content: end;
    margin-top: 20px;
  }
  .speakers .heading-title h2 {
    font-size: 4em;
    margin-top: 10px;
  }
  .speaker-image img {
    width: 300px;
    height: 300px;
  }
}

/* Event pointers section */
.event-pointers {
  max-width: 100%;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.pointer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.pointer-row.in-view {
  opacity: 1;
  transform: translateY(0);
}

.pointer-image {
  width: 100%;
  max-width: 50%;
  height: 600px; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pointer-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.pointer-row.in-view .pointer-image img {
  opacity: 1;
  transform: translateX(0);
}

.pointer-text {
  width: 100%;
  max-width: 50%;
  height: 600px;
  display: flex;
  align-items: center;
}

.pointer-row:nth-child(2n) .pointer-image img {
  transform: translateX(0);
}

.pointer-row:nth-child(2n) .pointer-text .text-inner {
  transform: translateX(-50px);
}

.dxd-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  z-index: 2;
}

.pointer-text .text-inner {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.pointer-row.in-view .pointer-text .text-inner {
  opacity: 1;
  transform: translateY(0);
}

.pointer-text {
  color: var(--holy-shiet-its-brown);
  margin: 0 auto;
  max-width: 70%;
  word-wrap: break-word;
}

.text-inner {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 60px;
  justify-content: center;
  align-items: start;
}

.text-inner h2 {
  line-height: 1.4em;
  font-size: 60px;
  font-family: var(--handwritten-font);
  font-weight: 700;
  letter-spacing: -2px;
  margin: 50px 0 20px 0;
}

.text-inner p {
  font-size: 1em;
  font-weight: 400;
  padding: 0;
  margin: 10px;
  line-height: 1.7;
}

.button-link-advanced {
  margin: 50px 0 !important;
}

.site-button-advanced {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  color: var(--holy-shiet-its-brown);
  text-decoration: none;
  overflow: hidden;
  border: 1px solid transparent;
  transition: border-color 0.5s ease;
  box-sizing: border-box;
}

.site-button-advanced span,
.site-button-advanced i {
  display: inline-block;
  font-weight: 600;
  margin: 0 2px;
  transition: transform 0.5s ease;
}

.site-button-advanced::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--holy-shiet-its-brown);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
  box-sizing: border-box;
}

.site-button-advanced:hover::before {
  transform: scaleX(1);
}

.site-button-advanced:hover span,
.site-button-advanced:hover i {
  transform: translateX(10px);
}

.site-button-advanced:hover {
  color: var(--holy-shiet-its-brown);
}

.site-button-advanced::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--holy-shiet-its-brown);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
  box-sizing: border-box;
}

.site-button-advanced:hover::after {
  transform: scaleX(1);
}

.pt-row-1-color {
  background-color: var(--body-theme);
}

.pt-row-2-color {
  background-color: var(--holy-shiet-its-brown);
}

.pt-row-3-color {
  background-color: var(--wine-red);
}

.pt-row-2-color .text-inner {
  color: var(--dorky-white);
}

.pt-row-2-color .text-inner .site-button-advanced {
  color: var(--dorky-white);
}

.pt-row-2-color .text-inner .site-button-advanced::before {
  border: 1px solid var(--dorky-white);
}

.pt-row-2-color .text-inner .site-button-advanced::after {
  background-color: var(--dorky-white);
}

.pt-row-3-color .text-inner {
  color: var(--dorky-white);
}

.pt-row-3-color .text-inner .site-button-advanced {
  color: var(--dorky-white);
}

.pt-row-3-color .text-inner .site-button-advanced::before {
  border: 1px solid var(--dorky-white);
}

.pt-row-3-color .text-inner .site-button-advanced::after {
  background-color: var(--dorky-white);
}


@media (min-width: 981px) {
  .pointer-row {
    flex-direction: row;
  }
  .pointer-text,
  .pointer-image {
    width: 50%;
  }
  .pointer-image {
    margin-bottom: -50px; 
  }
}

@media (max-width: 980px) {
  .pointer-row {
    flex-direction: column;
    margin: 0;
  }
  .pointer-text {
    max-width: 100%;
    justify-content: center;
    align-items: center;
    height: 500px;
    /* margin: 0 35px; */
  }
  .pointer-image {
    display: none;
    max-width: 100%;
    margin-bottom: -50px; 
  }
  .text-inner {
    margin: 0 40px;
    text-align: center;
    align-items: center;
  }
  .text-inner h2 {
    line-height: 1.4em;
    font-size: 36px;
    margin-bottom: 20px;
  }
  .text-inner p {
    font-size: 17px;
  }
}

@media (max-width: 768px) {
  .text-inner {
    margin: 0 40px;
  }
}



/* Start of the partners section */
.partners {
  background-color: var(--body-theme);
  padding: 40px 0;
  overflow: hidden;
}

.partner-container {
  max-width: 1200px;
  margin: 0 auto;
}

.partners-carousel {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.partners-carousel img {
  max-height: 40px; 
  margin: 0 20px; 
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.partners-carousel img:hover {
  filter: grayscale(0);
}

.carousel-wrapper {
  display: flex;
  animation: scroll 20s linear infinite;
  width: calc(200%); 
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


